@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;531;900&display=swap");
body {
  background: #2a2f2c;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  margin: 0 auto;
  padding-top: 48px;
}
a:visited {
  color: #aaaaaa;
}
.__lang {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: right;
  color: #ffffff;
}

/* LEAD */
.lead {
  width: 985px;
  margin: 0 auto;
}
.lead__title {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
  padding-top: 48px;
  color: #ffffff;
}
.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 48px;
  color: #ffffff;
}
.lead__image {
  padding-top: 78px;
}
.lead__caption {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

/* INTRO */

.intro {
  width: 984px;
  margin: 0 auto;
  padding-top: 80px;
}
.intro__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  color: #ffffff;
}
.intro__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 38px;
  padding-top: 45px;
  color: #ffffff;
}
.intro__content-row {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  padding-top: 35px;
  color: #ffffff;
}
.intro__text-two {
  font-size: 10px;
  line-height: 16px;
}
.intro__text-three {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  padding-top: 35px;
  padding-bottom: 92px;
  color: #ffffff;
}

/* PHOTO GRID */

.photo-grid {
  display: grid;
  width: 1184px;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 300px 300px 300px 200px;
  margin: 0 auto;
}

/* PLACES */

.places {
  width: 984px;
  margin: 0 auto;
}
.places__main {
  display: flex;
  justify-content: space-between;
}
.places__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  padding-top: 92px;
  padding-bottom: 65px;
  color: #ffffff;
}

.__website {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 500px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
}
.__url {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
}
.place {
  display: flex;
  justify-content: space-between;
}
.place__infa {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  position: relative;
  line-height: 30px;
  color: #ffffff;
}

.paragraph-one {
  margin-bottom: 36px;
}

/*  ADDITIONAL */
.addintional {
  width: 1184px;
  margin: 0 auto;
}
.content-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  padding-top: 102px;
  color: #ffffff;
}
.content-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  padding-top: 48px;
  color: #ffffff;
}

.__container {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
}

/* VIDEO */
.video {
  width: 1184px;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
}
.video-one {
  position: relative;
}
.video-two {
  position: relative;
}
.icon {
  position: absolute;
  left: 30px;
  right: 90.7%;
  top: 30px;
}

.duraction {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  left: 30px;
  right: 90.7%;
  top: 165px;
  line-height: 13px;
  letter-spacing: 0.3em;
  color: #ffffff;
}
.video-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  position: absolute;
  width: 322px;
  height: 73px;
  left: 30px;
  top: 180px;
  line-height: 39px;
  color: #ffffff;
}
.video-subtitle {
  position: absolute;
  left: 30px;
  top: 280px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}

/* COMMENTS */
.comments {
  width: 1184px;
  margin: 0 auto;
}
.__quote {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding-top: 30px;
  color: #ffffff;
}
.__author {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
  color: #ffffff;
}

/* COVER */
.cover {
  position: relative;
  width: 1184px;
  margin: 0 auto;
  padding-top: 102px;
}
.cover__title {
  position: absolute;
  left: 130px;
  top: 380px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #fffdfd;
}
.cover__subtitle {
  position: absolute;
  left: 420px;
  top: 580px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
/* EMBLEM */
.emblem {
  width: 1184px;
  margin: 0 auto;
}
.__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 42px;
  line-height: 46px;
  padding-top: 82px;
  color: #ffffff;
}
.__city {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  padding-top: 35px;
  color: #cccccc;
}
.elabuga {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  padding-top: 20px;
  color: #cccccc;
}

/* BARENTSBURG */
.barentsburg {
  width: 1184px;
  margin: 0 auto;
}
.__coord {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  line-height: 61px;
  padding-top: 20px;
  color: #ffffff;
}
.__map {
  padding-top: 48px;
}
.__text {
  display: flex;
  justify-content: space-between;
}
.__text_one {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding-top: 48px;

  color: #ffffff;
}
.__text_two {
  font-family: "Inter", sans-serif;
  padding-top: 50px;
}
.url__head {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  padding-right: 600px;
  color: #aaaaaa;
}
.url__{
line-height: 30px;
}
.__link {
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #ffffff;
}

/*FOOTER*/

.footer {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 48px;
}
.menu-link {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 41px;
  text-decoration: none;
  color: #ffffff;
}
.__copyright {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  padding-top: 10px;
  color: #ffffff;
}
